.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#projects {
    width: 100%;
    margin: 0 auto;
    padding: 2em 0;
    background-color: #3451a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_wrapper {
    margin-bottom: 2em;
}

.project_wrapper img {
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    width: 100%;
    height: 100%;
}